---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main style="max-width: 800px; margin: auto; padding: 2rem;">
			<h1 style="color: #D4AF37;">Welcome to ONERO's website </h1>
			<p>
				My personal and professional space for sharing knowledge and experiences.
			</p>
		</main>
		<Footer />
	</body>
</html>
